<ul class="example-orbit" data-orbit>
  <li>
    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/na006875rev1.jpg" alt="National Automotive History Collection" />
    <div class="orbit-caption">
      National Automotive History Collection
    </div>
  </li>
  <li class="active">
    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/hackley%20series%20web%20banner.jpg" alt="Hackley After Dark" />
    <div class="orbit-caption">
      Hackley After Dark
    </div>
  </li>
  <li>
    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/miliagebanner3.jpg" alt="Millage" />
    <div class="orbit-caption">
      Millage
    </div>
  </li>
  <li>
    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/java%20and%20jazz%20webimage%20copy.jpg" alt="2014 Comerica Java and Jazz" />
    <div class="orbit-caption">
      2014 Comerica Java and Jazz
    </div>
  </li>
  <li>
    <img src="http://www.detroit.lib.mi.us/sites/default/files/imagecache/home-slide/home-slides/summerreadingbanner22.jpg" alt="Join the Summer Reading Challenge" />
    <div class="orbit-caption">
      Join the Summer Reading Challenge
    </div>
  </li>
</ul>