<div class="left_title">&nbsp;</div>
<div class="right_title">&nbsp;</div>
<div class="section_title" id="news_title">NEWS & HIGHLIGHTS</div>
<div class="home_section" id="home_news">
	<ul>
		<li>
			<div class="news_title">Nominate Your Favorite Author for Authors @DPL</div>
			<div class="news_body">
				Read some good books lately?<br/>
				Want to meet your favorite author...
			</div>
		</li>
		<li>
			<div class="news_title">2014 Summer Reading</div>
			<div class="news_body">
				Join the 2014 summer reading programs.<br/>
				Fizz Boom Read and Spark A
			</div>
		</li>
		<li>
			<div class="news_title">2014 Park and Read Program Field Trips</div>
			<div class="news_body">
				News body 1<br/>
				news body 2
			</div>
		</li>
		<li>
			<div class="news_title">Discover the Wonders of the Detroit Public Library: An Art and Architectural Tour</div>
			<div class="news_body">
				The DPL Friends Foundation presents docent led tours highlighting the art.
			</div>
		</li>
	</ul>
	<div id="more_news_btn">More News</div>
</div>