<div class="left_title">&nbsp;</div>
<div class="right_title">&nbsp;</div>
<div class="section_title" id="events_title">UPCOMING EVENTS</div>
<div class="home_section" id="home_events">
	<ul>
		<li>
			<div class="event_title">Introduction to Word</div>
			<div class="event_body">
				Saturday, July 12 2014 - 10:30am<br/>
				Learn how to use Word like an Adult<br/>
				Adults
			</div>
		</li>
		<li>
			<div class="event_title">Creating Tables in Word</div>
			<div class="event_body">
				Saturday, July 12 2014 - 3:00pm<br/>
				Learn how to use the tables feature in Word like an Adult<br/>
				Adults
			</div>
		</li>
		<li>
			<div class="event_title">Summer Reading Program</div>
			<div class="event_body">
				Monday, July 14 2014 - 1:00pm<br/>
				Fizz, Boom, Wow, Come on and join in the summer fun as we read, do science experiments, and arts and..<br/>
				Pre-K - 11 years of age
			</div>
		</li>
		<li>
			<div class="event_title">Don't Bug Me</div>
			<div class="event_body">
				Saturday, July 12 2014 - 1:00pm<br/>
				Come and learn the science of creepy crawly insects and have fun doing it.
			</div>
		</li>
	</ul>
	<div id="more_events_btn">More Events</div>
</div>
