<div class="row" id="search_row">
	<div class="medium-2 columns">logo</div>
	<div class="medium-4 columns">blank</div>
	<div class="medium-4 columns">search</div>
	<div class="medium-2 columns">social</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		Header Image Row
	</div>
</div>

<div class="row">
	<div class="medium-8 medium-centered columns">
		Announcement
	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<div id="home_events">
			<ul>
				<li>
					<div class="event_title">Introduction to Word</div>
					<div class="event_body">
						Saturday, July 12 2014 - 1030am<br/>
						Learn how to use Word like an Adult<br/>
						Adults
					</div>
				</li>
				<li>
					<div class="event_title">Introduction to Word</div>
					<div class="event_body">
						Saturday, July 12 2014 - 1030am<br/>
						Learn how to use Word like an Adult<br/>
						Adults
					</div>
				</li>
				<li>
					<div class="event_title">Introduction to Word</div>
					<div class="event_body">
						Saturday, July 12 2014 - 1030am<br/>
						Learn how to use Word like an Adult<br/>
						Adults
					</div>
				</li>
				<li>
					<div class="event_title">Introduction to Word</div>
					<div class="event_body">
						Saturday, July 12 2014 - 1030am<br/>
						Learn how to use Word like an Adult<br/>
						Adults
					</div>
				</li>			
			</ul>
		</div>

		<div id="home_news">
			<ul>
				<li>
					<div class="news_title">News Title</div>
					<div class="news_body">
						News body 1<br/>
						news body 2					
					</div>
				</li>
				<li>
					<div class="news_title">News Title</div>
					<div class="news_body">
						News body 1<br/>
						news body 2					
					</div>
				</li>
				<li>
					<div class="news_title">News Title</div>
					<div class="news_body">
						News body 1<br/>
						news body 2					
					</div>
				</li>
				<li>
					<div class="news_title">News Title</div>
					<div class="news_body">
						News body 1<br/>
						news body 2					
					</div>
				</li>			
			</ul>
		</div>
	</div>

	<div class="medium-4 columns">
		<div id="home_books">
			Popular Books
		</div>

		<div id="home_services">
			Services
		</div>
	</div>
</div>