<div class="row" id="search_row">
	<div class="medium-2 columns"><%= image_tag 'dpl_logo.png' %></div>
	<div class="medium-4 columns">&nbsp;</div>
	<div class="medium-4 columns">search</div>
	<div class="medium-2 columns" id="social_icons">
		<a href="#" class="fc-webicon facebook small">Like us on Facebook</a>
	</div>
</div>

<div class="row" id="header_row">
	<div class="medium-12 columns">
		Header Image Row
	</div>
</div>

<div id="main_content">
	<div class="row" id="announcement_row">
		<div data-alert class="alert-box info radius medium-8 medium-centered columns">
			Douglass and Redford branches are temporary closed for renovations.
			<a href="#" class="close">&times;</a>
		</div>
	</div>

	<div class="row" id="content_row">
		<div class="medium-8 columns">
			<div class="home_section" id="home_events">
				<div class="left_title">&nbsp;</div>
				<div class="right_title">&nbsp;</div>
				<div class="section_title" id="events_title">Upcoming Events For Your Closest Branch</div>
				<ul>
					<li>
						<div class="event_title">Introduction to Word</div>
						<div class="event_body">
							Saturday, July 12 2014 - 1030am<br/>
							Learn how to use Word like an Adult<br/>
							Adults
						</div>
					</li>
					<li>
						<div class="event_title">Introduction to Word</div>
						<div class="event_body">
							Saturday, July 12 2014 - 1030am<br/>
							Learn how to use Word like an Adult<br/>
							Adults
						</div>
					</li>
					<li>
						<div class="event_title">Introduction to Word</div>
						<div class="event_body">
							Saturday, July 12 2014 - 1030am<br/>
							Learn how to use Word like an Adult<br/>
							Adults
						</div>
					</li>
					<li>
						<div class="event_title">Introduction to Word</div>
						<div class="event_body">
							Saturday, July 12 2014 - 1030am<br/>
							Learn how to use Word like an Adult<br/>
							Adults
						</div>
					</li>			
				</ul>
			</div>

			<div class="home_section" id="home_news">
				<div class="left_title">&nbsp;</div>
				<div class="right_title">&nbsp;</div>
				<div class="section_title" id="news_title">Events Title</div>
				<ul>
					<li>
						<div class="news_title">News Title</div>
						<div class="news_body">
							News body 1<br/>
							news body 2					
						</div>
					</li>
					<li>
						<div class="news_title">News Title</div>
						<div class="news_body">
							News body 1<br/>
							news body 2					
						</div>
					</li>
					<li>
						<div class="news_title">News Title</div>
						<div class="news_body">
							News body 1<br/>
							news body 2					
						</div>
					</li>
					<li>
						<div class="news_title">News Title</div>
						<div class="news_body">
							News body 1<br/>
							news body 2					
						</div>
					</li>			
				</ul>
			</div>
		</div>

		<div class="medium-4 columns">
			<div class="home_section" id="home_books">
				<div class="left_title">&nbsp;</div>
				<div class="right_title">&nbsp;</div>
				<div class="section_title" id="books_title">Books Title</div>
				<div class="popular_book"></div>
				<div class="popular_book"></div>
				<div class="popular_book"></div>
				<div style="clear:both;"></div>
			</div>

			<div class="home_section" id="home_services">
				<div class="left_title">&nbsp;</div>
				<div class="right_title">&nbsp;</div>
				<div class="section_title" id="services_title">Services Title</div>
				<ul>
					<li>
						<div class="service_title">Service Title</div>
						<div class="service_body">
							Service description
						</div>
					</li>
					<li>
						<div class="service_title">Service Title</div>
						<div class="service_body">
							Service description
						</div>
					</li>
					<li>
						<div class="service_title">Service Title</div>
						<div class="service_body">
							Service description
						</div>
					</li>
					<li>
						<div class="service_title">Service Title</div>
						<div class="service_body">
							Service description
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>