<div class="row" id="search_row">
	<div class="medium-2 columns">logo</div>
	<div class="medium-4 columns">blank</div>
	<div class="medium-4 columns">search</div>
	<div class="medium-2 columns">social</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		Header Image Row
	</div>
</div>

<div class="row">
	<div class="medium-8 medium-centered columns">
		Announcement
	</div>
</div>

<div class="row">
	<div class="medium-8 columns">
		<div id="home_events">
			Events
		</div>

		<div id="home_news">
			News
		</div>
	</div>

	<div class="medium-4 columns">
		<div id="home_books">
			Popular Books
		</div>

		<div id="home_services">
			Services
		</div>
	</div>
</div>