/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

body {
	background-color: lightgreen;
}

#wrapper {
	background-color: lightgreen;
	width: 100%;
}

.col {
	float: left;
}

.col#col1 {
	width: 600px;
}

.col#col2 {
	width: 300px;
}

.event_listing {
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.group-about-branch, .location-locations-wrapper, .location-locations-header, .field-field-map, .group-general-information, .group-special-services, .group-transportation, .group-self-check, .group-computer-equipment {
	display: none;
}

.field-label {
	display: none;
}

.node-type-branch .node-title {
	font-size: 12pt;
}

#search_row {
	background-color: white;
}

#header_row {
	height: 160px;
	background-color: #ccc;
}

.home_section {
	background-color: white;
	margin-bottom: 15px;
	padding: 5px;
}

#home_events ul, #home_news ul, #home_services ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#home_events .event_title, #home_news .news_title, #home_services .service_title {
	color: green;
}

.popular_book {
	float: left;
	width: 87px;
	height: 120px;
	background-color: #ccc;
	margin: 5px;
}