/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

.group-about-branch, .location-locations-header, .location-locations-wrapper, .field-field-map, .group-general-information {
	display: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #363636;
}

#search_row {
	height: 64px;
	background: white;
	padding: 3px 0px;
}	
#header_row {
	height: 100%;
}
#wrapper {
	background: url('/assets/dpl_bg.png');
}	
#home_events ul, #home_news ul, #home_services ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.home_section {
	background-color: white;
	margin: 0px 15px 15px 15px;
	padding: 0px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(69,69,69,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(69,69,69,0.2);
	box-shadow: 0px 3px 5px 0px rgba(69,69,69,0.2);
}

li {
	border-bottom: gray solid 1px;
	padding: 8px;
}

.orbit-bullets {
	display: none;
}

li:last-child {
	border-bottom: none;
}

.left_title {
	float: left;
	background: url('/assets/banner-left.png');
	width: 15px;
	height: 59px;
}

.right_title {
	float: right;
	background: url('/assets/banner-right.png') no-repeat;
	width: 16px;
	height: 59px;
}

.section_title {
	background-color: #8cc63f;
	color: white;
	margin: 0px 14px;
	padding: 1px 8px;
}

.event_body, .news_body, .service_body {
	padding: 9px;
}

#home_events .event_title, #home_news .news_title, #home_services .service_title {
	color: #8cc63f;
	font-size: 1.4em;
	padding: 8px;
	padding-bottom: 0px;
}

alert-box {
	margin: 0.40em;
}

#home_books, #home_games {
	padding-left: 8px;
}

#home_games img {
	width: 67px;
	height: 96px;
}

.popular_book {
	float: left;
	width: 85px;
	padding: 9px;
}

#more_events_btn, #more_news_btn {
	background-color: gray;
	color: #7BBD33;
	padding: 10px;
	text-align: center;
	font-size: 16pt;
}

#more_events_btn {
	cursor: pointer; 
	cursor: hand;
}

